body {
    font-family: Arial;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #34495e;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: yellow;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.section {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

img {
    width: 200px;
    border-radius: 10px;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}